:root {
    --PteroBGSize: 550px;
    --marginLeftOffset: 190px;
}

body {
    margin:50px 50px 0 250px;
    

    background-color: bisque;
 /* repeats images but they're too big */
    background-image: url("BgElements/pteroBG\ elements.png");
    background-repeat: repeat;
    background-size: 50%;
    
}

.tiledBackground {
  background-image: url("BgElements/pteroBG\ elements.png");
  background-size: 100px;
  margin: 10px auto -200px auto;

  /* border: 2px solid red; */
}

.bigPteroBG {
    background-image: url("BgElements/pteroBG1.png");
    background-size: var(--PteroBGSize);
    background-position: 110px -130px;
    background-blend-mode: hue;
    margin-left: var(--marginLeftOffset);
    width: var(--PteroBGSize);
    height: var(--PteroBGSize);
   
    /* border: 2px solid orange; */
}

.titlefont, h1, h2 {
    font-family: liebedoni-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: calc(-1 * var(--marginLeftOffset));

    letter-spacing: -0.3px;
}

h1 {
    margin: 0px;
}

h2 {
    font-size: 32px;
}

.bodytext {
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 21px;
    line-height: 140%;
    color: rgb(24, 18, 41);

    width: 800px;
    height: 1000px;
    margin-left: calc(-1 * var(--marginLeftOffset));

 }

li {
    font-size: 19px;
    line-height: 150%;
}

li::marker {
    color: rgb(213, 159, 114);
}


.backbutton {
    margin-top: 100px;
    padding-top: 100px;
}

a:link {
    color:coral;
}

a:visited {
    
    color: rgb(210, 63, 77);
}

/* meme page */

.memeimg img {
    width: 100%;
}

/* grid example */
.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  
  /* background-color: yellow; */
  gap: 20px;
  padding: 20px;
  margin-top: -825px; /*aligns with top next to text*/
  margin-bottom: 100px;
  font-size: 2rem;
  /* justify-content: center; */
  /* align-items: center; */
  /* float: left; */
  margin-left: -90px;
}

.gridContainer img {
    vertical-align:middle;
    border-radius: 20px;
    border: 10px solid rgba(238, 147, 82, 0.5);
} /* need images to align in the middle of the grid box rather than the top */